<div class="scrollable">
  <section class="home-section section-intro text-center">
    <div class="container">
        <img src="assets/images/logo-drop-shadow.png" alt="">
        <img src="assets/images/5-star.png" alt="">
        <h1>Angular 5+ Material Design Admin Template</h1>
        <p class="text-muted">Quick start your project within <strong>5 minutes</strong>. 
          Seed projects for both top and side navigation are included.</p>
        <div>
          <a href="https://themeforest.net/item/egret-angular-4-material-design-admin-template/20161805?ref=mh_rafi" target="_blank" class="mr-1">
            <button mat-raised-button mat-lg-button color="primary">BUY EGRET</button>
          </a>
          <a href="http://egret-doc.mhrafi.com/" target="_blank">
            <button mat-raised-button mat-lg-button>DOC</button>
          </a>
        </div>
    </div>
  </section>
  <section class="home-section section-demos">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="50" *ngFor="let v of versions"> 
          <div class="p-1 text-center demo-box">
            <h3>{{v.name}}</h3>
            <div (click)="goToDashboard(v)" class="p-0 mat-elevation-z12 screenshot">
              <img [src]="v.photo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>